streamlit
python-dotenv
PyPDF2
langchain
langchain-community
langchain-core
chromadb
sentence-transformers
transformers
huggingface-hub
pydantic
tiktoken
torch
PyMuPDF
google-generativeai
streamlit-chat



